@model AppointAid.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Nurse Login";
}

<h2>Login as Nurse</h2>

<form method="post" asp-action="NurseLogin">
    <input type="text" name="NationalNumber" placeholder="National Number" required />
    <input type="password" name="Password" placeholder="Password" required />
    <input type="submit" value="NurseLogin" />
</form>